filetype
langchain
pandas
plotly
ydata_profiling
pinecone_client
pygwalker
streamlit
streamlit-pandas-profiling
wolframalpha
google-api-python-client
openai
unstructured
tabulate
tiktoken
streamlit_chat
streamlit_authenticator==0.1.5
deta
chat2plot
openpyxl
pytesseract
pypdf2
pdf2image